<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebLauncher">

        <!-- 管理画面: アプリ一覧から直接起動される -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="WebLauncher Admin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 共通ロジックActivity: UIを持たず、ブラウザへの橋渡しを行う -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Slot 1 -->
        <activity-alias
            android:name=".Slot1"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_slot1"
            android:label="Slot 1"
            android:targetActivity=".LauncherActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity-alias>

        <!-- Slot 2 -->
        <activity-alias
            android:name=".Slot2"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_slot2"
            android:label="Slot 2"
            android:targetActivity=".LauncherActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity-alias>

        <!-- Slot 3 -->
        <activity-alias
            android:name=".Slot3"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_slot3"
            android:label="Slot 3"
            android:targetActivity=".LauncherActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity-alias>

        <!-- Slot 4 -->
        <activity-alias
            android:name=".Slot4"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_slot4"
            android:label="Slot 4"
            android:targetActivity=".LauncherActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity-alias>

        <!-- Slot 5 -->
        <activity-alias
            android:name=".Slot5"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_slot5"
            android:label="Slot 5"
            android:targetActivity=".LauncherActivity">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity-alias>
    </application>
</manifest>